@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --background-color: #f0f0f0;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--secondary-color);
}
.default {
  --primary-color: #000;
  --secondary-color: #333;
  --background-color: #d7dff3;
}

.dark {
  --primary-color: #777777;
  --secondary-color: #010101;
  --background-color: #393939;
}

.red {
  --primary-color: #000;
  --secondary-color: #070707;
  --background-color: #faeceb;
}

.blue {
  --primary-color: #000;
  --secondary-color: #070707;
  --background-color: #cae8fa;
}

.green {
  --primary-color: #000;
  --secondary-color: #070707;
  --background-color: #dbf8ea;
}
