@tailwind base;
@tailwind components;
@tailwind utilities;

.expense-container,
.income-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
  flex: 1;
}
.expense-content,
.income-content {
  display: flex;
  padding-left: 20px;
  align-items: center;
  background-color: rgb(123, 115, 169);
  box-shadow: 0 0 10px rgb(97, 92, 99);
  color: white;
  border-radius: 4px;
}
.expense-icon-name,
.income-icon-name {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.expense-amount,
.income-amount {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 20px;
}
.expense-income-container {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
}
